
.DS_Store
/src/__pycache__
/pickle_files
/data/Austin_Animal_Center_Outcomes_20250318.csv
/solution.csv
/script_shelter-animal-outcomes-by-kaggle.com.R
/python_script.py
/report.pbix
/pyvenv
/data/*.csv
/data/*.xlsx
/data/*.json
